{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <div class="container py-5">
    
      <h2>Привет, я автор проекта Yatube</h2>

      <h5>Меня зовут Никонов Андрей. Мне 28 лет.</h5>
      <p>В 2015 году закончил <b>СПБГУ Аэрокосмического Приборостроения</b>. Специальность - Менеджмент Организации.</p>
      <p>Всю свою жизнь я чувствовал, что меня тянет создать что-то по настоящему стоящее.</p>
      <p>Перебрав множество профессий, попробовав себя в роли официанта, бариста, оператора боулинга, администратора банка, 
      кредитного специалиста, светотехнического дизайнера, выбрал, как мне казалось, для себя профессию по душе.
      Уже длительное время работаю руководителем группы выкупа автомобилей с пробегом в крупной компании <b>РОЛЬФ</b>.
      На протяжении всей карьеры, не покидала мысль о том, что хочется заниматься компьютерами и разработкой, и
      в середине 2021 года, принял решение кардинально изменить свою жизнь.</p>
      Прошел бесплатный курс на Яндекс.Практикуме и понял - ЭТО МОЁ. Не раздумывая оплатил обучение и приступил.</p>
      <p>Данный сайт создан во время обучения. Это лишь первые шаги в большое, светлое будущее.</p>
      <p>
      Хотел бы поблагодарить за помощь всю команду <b>Яндекс.Практикум</b> за организацию учебного процесса.
      Моего наставника <b>Дастана Абдрахманова</b>, за помощь и наставления в самые сложные моменты.
      Ревьюера <b>Литяйкину Марину</b> за код-ревью и качественную обратную связь по улучшениям.
      Мою любимую жену - <b>Никонову Алёну</b>, за поддержку и веру в то что всё получится.
      Моего верного пёсика <b>Чуи</b>, за выполнение функции анти-стресс при прохождении теоретических уроков.</p>
    
    </div>
  </div>
{% endblock %} 