{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="container py-5">
  <h1>Данный сайт создан при помощи</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python 3
      </li>
      <li class="list-group-item">
        Django 2.2.19
      </li>
      <li class="list-group-item">
        SQLite 0.4.2
      </li>
      <li class="list-group-item">
        Новенький Macbook Air MacOS Monterey 12.1
      </li>
      <li class="list-group-item">
        Щепотка любви и трепета к проекту
      </li>
    </ul>
  </aside>
  <br>
  <br>
  <br>
  <article class="col-12 col-md-9">
    <p>Данный сайт создан при помощи Python 3, а так же фреймворка Django 2.2.19</p>
  </article>
</div>
{% endblock %} 